@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
* {
    font-family: "Roboto Condensed", sans-serif;
}

.pointer {
    cursor: pointer;
}

.dashed {
    text-decoration: line-through;
}

.container {
    background-color: rgb(243, 237, 231);
}